@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-carrito {
    width: 95%;
    min-height: 50vh;
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #e0f7fa; 
}

.content-carrito {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

h1 {
    font-size: 30px;
    text-align: left;
    margin: 2rem 0;
    color: #0056b3; 
}

.img-carrito {
    width: auto;
    height: 35px;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cart-empty h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.empty-red {
    color: red;
}

.button {
    border-radius: 8px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(0, 0, 0);
    gap: 10px;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
}

ion-icon[name="arrow-forward-outline"] {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.tabla-content {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.tabla-content th,
.tabla-content td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
}

.tabla-content th {
    background-color: #0056b3; 
    color: white;
    font-weight: bold;
}

.tabla-content td img {
    width: 90px;
    height: 80px;
    object-fit: contain;
}

.tabla-content td {
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: .5px;
}

.cantidad-count {
    font-size: 18px;
}

.btn-cantidad {
    background-color: #0056b3; 
    padding: 0 5px;
    width: 30px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 0 7px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.container-vaciarCart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.container-vaciarCart h2 {
    font-size: 20px;
}

.link-prod:hover {
    color: #0056b3;
}

ion-icon[name="close-outline"] {
    font-size: 22px;
    background-color: rgb(126, 126, 126);
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    transition: all .3s ease;
    color: rgb(255, 255, 255);
}

ion-icon[name="close-outline"]:hover {
    background-color: rgb(211, 18, 18);
}

.terminar-compra-cart {
    width: 200px;
    background-color: #0056b3; 
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 1rem;
    transition: all .3s ease;
}

.terminar-compra-cart:hover {
    transform: scale(1.03);
    background-color: #004494; 

.center-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
}