.container-compra {
    background-color: #E5E5E5; 
    border-radius: 10px; 
    padding: 20px; 
    max-width: 600px; 
    margin: 20px auto; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.thank-you-title {
    color: #3D5AFE; 
    text-align: center; 
    margin-bottom: 20px; 
}

.order-details {
    border: 2px solid #FDD835; 
    border-radius: 8px; 
    padding: 15px; 
    background-color: #fff;
}

.order-id, .final-price, .buyer-info-title {
    margin: 10px 0; 
    color: #3D5AFE; 
}

.product-title {
    color: #FDD835; 
}

.product-item {
    border-bottom: 1px solid #ccc; 
    padding: 10px 0; 
}

.product-name, .product-quantity, .product-price, .product-subtotal {
    color: #333; 
}

.subrayado {
    font-weight: bold; 
}

.info-buyer {
    margin-top: 15px; 
}

.buyer-info {
    margin: 5px 0; 
    color: #555; 
}

.home-link {
    background-color: #3D5AFE; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: block; 
    margin: 20px auto; 
}

.home-link:hover {
    background-color: #2C6DD5; 
}
