#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}


.navbar-custom {
  background-color: #ffffff; /* Blanco */
  padding: 10px;
  border-radius: 8px;
}


.btn-custom {
  background-color: transparent;
  border: none;
  font-weight: bold; 
}

.nav-link {
  color: #00BFFF;
  text-decoration: none;
}

.nav-link.active {
  color: #FFD700; 
}

.nav-buttons {
  display: flex;
  gap: 20px; 
}

.navbar-custom .img-fluid {
  max-height: 50px; 
}
