
.image-container {
  width: 20px; 
  overflow: hidden;
}

.product-card {
  width: 100px; /* Establece un ancho fijo para la tarjeta */
  height: auto; /* Permite que la altura sea automática */
}


.product-card img {
  max-width: 50%; /* Esto asegurará que la imagen no exceda el ancho de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}
