
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
}


.product-card {
    background-color: #61afee;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.1);
    width: 250px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.product-image {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}


.product-info {
    padding: 15px; 
    text-align: left; 
}


.product-title {
    font-size: 1.2rem; 
    color: #333; 
    margin: 10px 0; 
}


.product-price {
    font-size: 1rem; 
    color: #2a9d8f; 
    font-weight: bold; 
    margin-bottom: 10px;
}

.product-description {
    font-size: 0.9rem;
    color: #666; 
    margin-bottom: 10px; 
}
