html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #F0F8FF; /* Fondo celeste claro */
  color: #333;
}

a, li {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.contenedor-principal {
  min-height: 100vh;
  padding: 20px;
  background-color: #F0F8FF; /* Fondo celeste */
}

footer {
  background-color: #002F6C; /* Fondo azul */
  color: white;
  padding: 20px;
  text-align: center;
}
